# Chain selection

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

The file Business_Metropolis can be downloaded by running the notebook: DescripitveAnalysis Yelp Dataset inside: https://github.com/hecmesge/ABA2020

In [20]:
business=pd.read_excel('Business-Metropolis.xlsx')

As we said we are only working with the businesses that belong to one of our nine metropolisses.

In [21]:
business=business[business['distance metropolis']<90]

## FILTER BY CATEGORY, RESTAURANT

We are looking for a restaurant

In [22]:
business=business[business['categories'].notnull()==True]
restaurants=business[business['categories'].str.contains('Restaurants')]

 # SEARCH FOR CHAIN

The chain must own more than one restaurant in the same city.

In [43]:
restaurants_name=restaurants['name'].value_counts()

restaurants_name=pd.DataFrame(restaurants_name)


restaurants_name=restaurants_name.rename(columns={'name': 'number'})

restaurants_name.index

Index(['McDonald's', 'Subway Restaurants', 'Burger King', 'Taco Bell',
       'Wendy's', 'Pizza Hut', 'Subway', 'Tim Hortons', 'Domino's Pizza',
       'KFC',
       ...
       'Microsoft Cafeteria', 'The Normal Restaurant and Bar', 'China Lu',
       'Pizza La Rosa', 'Bocca On Baldwin', 'Quaker Steak and Lube',
       'A Slice of Chicago At the Inn Zone', 'La Grange Gourmande',
       'Royal Buffet', 'Cloves the Spice'],
      dtype='object', length=43274)

In [56]:
Interesting_restaurants=restaurants_name[restaurants_name['number'] > 3]

In [57]:
list_restaurants=Interesting_restaurants.index

In [58]:
restaurants_chain=restaurants[restaurants['name'].isin(list_restaurants)]

In [59]:
restaurants_chain.index

Int64Index([    16,     45,     88,     95,    104,    125,    166,    181,
               192,    200,
            ...
            209297, 209298, 209318, 209328, 209333, 209337, 209341, 209353,
            209356, 209361],
           dtype='int64', length=16876)

In [60]:
def is_unique(s):
    a = s.to_numpy() # s.values (pandas<0.24)
    return (a[0] == a[1:]).all()

In [61]:
restaurants_chain['name'].unique()

array(["Papa Murphy's", "McAlister's Deli", 'Hot Head Burritos', ...,
       'Saga Hibachi Steakhouse & Sushi Bar', 'Wing Warehouse',
       'Fellinis Pizzeria'], dtype=object)

In [62]:
List_local_chain=[]

for chain in restaurants_chain['name'].unique():
    new_restaurants_chain=restaurants_chain[restaurants_chain['name']==chain]
    
    
    if is_unique(new_restaurants_chain['city']):
        List_local_chain.append(chain)

In [63]:
restaurants_chain=restaurants[restaurants['name'].isin(List_local_chain)]

In [64]:
stars_restaurants_chain=restaurants_chain.groupby(['name'])['stars'].mean().reset_index()

In [65]:
stars_restaurants_chain.head()

                                name  stars
0  Ali Baba's Middle Eastern Cuisine  3.200
1    AmÃ©lie's French Bakery & CafÃ©  4.000
2             Armando's Mexican Food  3.125
3                               BRGR  2.750
4                       Banh Mi Boys  4.250

Let's sort our results by the number of stars

In [66]:
stars_restaurants_chain=stars_restaurants_chain.sort_values(by=['stars'],ascending=False).reset_index(drop = True)

In [67]:
stars_restaurants_chain.head(15)

                               name     stars
0                   Istanbul Grille  4.500000
1                       Sweet PokÃ©  4.500000
2                      Banh Mi Boys  4.250000
3            Braddah's Island Style  4.250000
4                    Jimmy's Coffee  4.200000
5                        Ravi Soups  4.200000
6             Rosso Coffee Roasters  4.200000
7                La PanthÃ¨re Verte  4.071429
8              La Pasadita Hot Dogs  4.000000
9                        Rolltation  4.000000
10                          Ghazale  4.000000
11            Distill - A Local Bar  4.000000
12  AmÃ©lie's French Bakery & CafÃ©  4.000000
13                        Bowlology  4.000000
14                          Peppi's  4.000000

In [68]:
business_1=restaurants[restaurants['name']=='Istanbul Grille']
business_1.head(10)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state,metropolis,distance metropolis
84027,305 N Craig St,"{'Alcohol': ""u'none'"", 'RestaurantsPriceRange2...",RyZ3dMJWuFMs2S7zw2C0Zg,"Restaurants, Turkish, Middle Eastern",Pittsburgh,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0,40.452039,-79.952326,Istanbul Grille,15213,6,4.5,PA,Pittsburgh,0.0
85165,1103 S Braddock Ave,"{'RestaurantsDelivery': 'False', 'Alcohol': ""u...",-U_0rpIpGpOi-tokc91HUQ,"Mediterranean, Restaurants, Modern European, T...",Pittsburgh,"{'Monday': '17:0-22:0', 'Wednesday': '17:0-22:...",1,40.432800,-79.893771,Istanbul Grille,15218,120,4.5,PA,Pittsburgh,0.0
87656,673 Liberty Ave,"{'GoodForKids': 'False', 'RestaurantsPriceRang...",v3rXLmTCX6ZFR6kIYTY2fg,"Middle Eastern, Mediterranean, Restaurants, Tu...",Pittsburgh,"{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...",0,40.442362,-80.000202,Istanbul Grille,15222,44,4.5,PA,Pittsburgh,0.0
88393,339 Sixth Ave,"{'RestaurantsAttire': ""'casual'"", 'BusinessAcc...",GNa1y5-b7u_5ary42o8-LQ,"Restaurants, Delis, Turkish",Pittsburgh,"{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'...",1,40.441672,-79.997990,Istanbul Grille,15215,22,4.5,PA,Pittsburgh,0.0

Unfortunately, tis one doesn't have a lot of reviews even if the stars are quite hight.

In [69]:
business_2=restaurants[restaurants['name']=='Sweet PokÃ©']
business_2.head(10)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state,metropolis,distance metropolis
22620,"7965 S Rainbow Blvd, Ste 135","{'GoodForKids': 'True', 'BikeParking': 'True',...",eiTWTVThkHr-DKXxIysbgA,"Japanese, Asian Fusion, Food, Hawaiian, Restau...",Las Vegas,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,36.043750,-115.243965,Sweet PokÃ©,89139,318,4.5,NV,Las Vegas,0.0
40620,"9255 S Eastern Ave, Ste 340-5","{'RestaurantsTableService': 'False', 'GoodForK...",rbQOcy2n8dBPpm5ua3VU_Q,"Sushi Bars, Hawaiian, Restaurants, Poke, Food,...",Las Vegas,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,36.021154,-115.119148,Sweet PokÃ©,89123,198,4.5,NV,Las Vegas,0.0
42467,"4680 S Maryland Pkwy, Ste 300","{'OutdoorSeating': 'False', 'Alcohol': ""u'none...",EyoTq9dd4oKXhXND_imOzA,"Asian Fusion, Hawaiian, Restaurants, Sushi Bars",Las Vegas,"{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",1,36.104391,-115.136713,Sweet PokÃ©,89119,111,4.5,NV,Las Vegas,0.0
44554,"5655 Centennial Center Blvd, Ste 120","{'Ambience': ""{'romantic': False, 'intimate': ...",9UVkAmyodpaSBm49DBKFNw,"Restaurants, Asian Fusion, Japanese, Seafood, ...",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",1,36.264618,-115.257566,Sweet PokÃ©,89149,460,4.5,NV,Las Vegas,0.0

This one could be a good candidate but the city of Las Vegas doesn't behave as the other cities. SO we will not consider this chain because the success in Las Vegas is hardly exportable.

In [70]:
business_3=restaurants[restaurants['name']=='Banh Mi Boys']
business_3.head(10)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state,metropolis,distance metropolis
60725,399 Yonge Street,"{'RestaurantsPriceRange2': '1', 'Alcohol': ""u'...",ttuEwktrkmh3TUlSFPZqAA,"Vietnamese, Asian Fusion, Restaurants",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.659097,-79.382078,Banh Mi Boys,M5B,483,4.0,ON,Toronto,0.0
62747,2365 Yonge Street,"{'OutdoorSeating': 'False', 'RestaurantsAttire...",ZhACHVw9k438Z3i-Gw9BHA,"Vietnamese, Asian Fusion, Restaurants",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.709246,-79.398444,Banh Mi Boys,M4P 3J6,108,4.0,ON,Toronto,0.0
71655,392 Queen Street W,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...",N93EYZy9R0sdlEvubu94ig,"Sandwiches, Restaurants, Food, Vietnamese, Asi...",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.648827,-79.396970,Banh Mi Boys,M5V 2A9,1097,4.5,ON,Toronto,0.0
72373,"95 The Pond Road, C2 Unit 10","{'RestaurantsReservations': 'False', 'Restaura...",BUBGQiHeHhLDALQm8Q4u1w,"Sandwiches, Restaurants",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.770245,-79.500580,Banh Mi Boys,M3J 2S5,13,4.5,ON,Toronto,0.0

This one, "Banh Mi Boys" in Toronto is very interesting, we have many reviews, a really good stars score and this chain restaurant is only present in Toronto. (after some researches in Google). Indeed, the fact that one chain is only present in one city in our dataset doesn't imply that this chain is only present in one city in North America. It is due to the fact that our dataset is only represent nine metropolisses.